<header class="p-3 text-bg-dark fixed-top">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <!-- <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <svg
          class="bi me-2"
          width="40"
          height="32"
          role="img"
          aria-label="Bootstrap"
        >
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a> -->

          <!-- Logo/Image -->
    <!-- <a class="navbar-brand" href="#">
      <img src="/static/images/symbol.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
      MoHospital
    </a> -->

     <a class="navbar-brand d-flex flex-column align-items-center" href="#">
  <img src="/static/images/symbol.png" alt="Logo" width="30" height="30" class="mb-1">
  <span class="text-white small">MoHospital</span>
  </a>
      <ul
        class="nav ms-3 col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="{% url 'viewdata' %}" class="nav-link px-2 text-white">viewdata</a></li>
        <li><a href="{% url 'recent_registrations' %}" class="nav-link px-2 text-white">Recent Registrations</a></li>
        <li><a href="{% url 'adminviewprofile' %}" class="nav-link px-2 text-white">Viewprofile</a></li>
        <li><a href="#" class="nav-link px-2 text-white">total</a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control form-control-dark text-bg-white"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>
      <div class="d-flex">
        <!-- <a href="#" class="btn btn-outline-primary me-2">Login</a> -->
        <a href="{% url 'logout' %}" class="btn btn-primary">LogOut</a>
      </div>
    </div>
  </div>
</header>
